.disabled { opacity: 0.2 !important; }
h1 span { font-weight: normal; font-size: 2rem; }
#divisionsTables thead th:nth-of-type(3),
.newclubs thead th:nth-of-type(3) { text-align: left; }
#divisionsTables thead th,
#historyTables thead th,
.newclubs thead th { text-align: center; }
#divisionsTables tbody td,
#historyTables tbody td,
.newclubs tbody td,
#club-winners tbody td,
#country-winners tbody td { width: 50px; }
#historyTables tbody td:nth-of-type(1) { width: 100px; }
#historyTables tbody td:nth-of-type(2) { width: 100px; }
#divisionsTables tbody td,
#historyTables tbody td,
.newclubs tbody td { text-align: center; }
#divisionsTables tbody td:nth-of-type(1),
.newclubs tbody td:nth-of-type(1),
#club-winners tbody td:nth-of-type(1),
#country-winners tbody td:nth-of-type(1) { font-size: 0.6rem; vertical-align: middle; }
#divisionsTables tbody td:nth-of-type(2) img,
#historyTables tbody td:nth-of-type(3) img,
.newclubs tbody td:nth-of-type(2) img,
#club-winners tbody td:nth-of-type(2) img,
#country-winners tbody td:nth-of-type(2) img { height: 20px; }
#divisionsTables tbody tr.champion,
#historyTables tbody tr.champion,
.newclubs tbody tr.champion { background-color: #ffffe0; }
#divisionsTables tbody tr.removed,
#historyTables tbody tr.removed,
.newclubs tbody tr.removed { background-color: #fd9292; }
#historyTables tbody tr.champion.removed { background-color: #ffffe0; }
#divisionsTables tbody tr.promoted,
#historyTables tbody tr.promoted,
.newclubs tbody tr.promoted { background-color: #b5e9b5; }
#divisionsTables tbody tr.relegated,
#historyTables tbody tr.relegated,
.newclubs tbody tr.relegated { background-color: #ffc9c9; }
#divisionsTables tbody th img,
#historyTables tbody th img,
.newclubs tbody th img { height: 16px; float: right; position: relative; top: 3px; right: 5px; margin-left: 5px; cursor: help; width: 16px; }
#club-winners thead tr th,
#country-winners thead tr th { width: 50px; }
#club-winners thead tr th:nth-of-type(3),
#country-winners thead tr th:nth-of-type(3) { width: calc( 100% - 50px - 50px - 50px - 670px); }
#club-winners tbody tr td:last-of-type a,
#country-winners tbody tr td:last-of-type a { display: inline-block; white-space: nowrap; }
#club-winners thead tr th:last-of-type,
#country-winners thead tr th:last-of-type { width: 670px; }
#divisionsTables tbody th { font-weight: normal; }
#divisionsTables tbody th a { font-weight: bold; }
tbody th a { color: #2b5873 !important; width: 100%; display: block; }
#divisionsTables tbody th a { display: inline-block; width: 75%; }
tbody th a:hover { color: #0000d6 !important; }
.tab-pane { margin-bottom: 50px; }
em { font-style: normal; color: #680202; }
.league-flags .defunct { opacity: 0.25; }
.league-flags img { height: 30px; cursor: help; }
thead {position:sticky;top:0;z-index: 10;background: white; border-bottom-width: 0 !important; }
.table-group-divider { border-top: none;}
thead:after { content: ""; border-bottom: 2px solid black; position: absolute; width: 100%; bottom: 0; z-index: 9;}
#club-winners a,
#country-winners a,
#historyTables a,
#divisionsTables a,
p a { color: #0000d6; text-decoration: none; }
#club-winners a:hover,
#country-winners a:hover,
p a:hover { color: darkblue; }
.country-list .btn, .club-list .btn { text-align: left; }
.country-list img, .club-list img { height: 23px; margin-right: 5px; position: relative; top: -2px; }
.club-list img { float: right; top: 0; }
.club-list img[src*='/icons/'] { height: 16px; position: relative; top: 4px; }
.country-list img[src*='/icons/'] { height: 16px; position: relative; top: 4px; float: right; }
.rules-list li { margin-bottom: 10px; }
.club-list .tooltip-inner { background: #eee; color: black; border: 1px solid black;}
h2 { font-size: 1.5rem; font-weight: normal; }
h2 img { margin-right: 10px; position: relative; top: -2px; height: 24px; }
.old-league { color: #c7c8c9; }
table.newclubs * { background-color: #eee !important; }